.version.explore /* version checker */
{
	color: #0000FE;
	background-color: #39968E;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu704
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 50px;
	margin-left: -201px;
}

#u704
{
	z-index: 25;
	width: 1361px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#buttonu573
{
	z-index: 27;
	width: 877px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 129px;
	position: relative;
	margin-right: -10000px;
}

#buttonu573:hover
{
	background-color: #7F7F7F;
	background-color: rgba(0,0,0,0.5);
	width: 877px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.5);
}

#buttonu573:active
{
	background-color: #000000;
	background-color: rgba(0,0,0,1);
	width: 877px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,1);
}

#buttonu573.ButtonSelected
{
	background-color: transparent;
	width: 877px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u574-7
{
	z-index: 28;
	width: 343px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	font-family: comfortaa, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 130px;
	left: 238px;
}

#buttonu573:hover #u574-7
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 343px;
	margin: 130px -10000px 0px 0px;
}

#buttonu573:active #u574-7
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 343px;
	margin: 130px -10000px 0px 0px;
}

#buttonu573.ButtonSelected #u574-7
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 343px;
	margin: 130px -10000px 0px 0px;
}

#buttonu692
{
	z-index: 35;
	width: 877px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 139px;
	position: relative;
	margin-right: -10000px;
	margin-top: 354px;
}

#buttonu692:hover
{
	background-color: #7F7F7F;
	background-color: rgba(0,0,0,0.5);
	width: 877px;
	min-height: 0px;
	margin: 354px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.5);
}

#buttonu692:active
{
	background-color: #000000;
	background-color: rgba(0,0,0,1);
	width: 877px;
	min-height: 0px;
	margin: 354px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,1);
}

#buttonu692.ButtonSelected
{
	background-color: transparent;
	width: 877px;
	min-height: 0px;
	margin: 354px -10000px 0px 0px;
}

#u693-7
{
	z-index: 36;
	width: 343px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	font-family: comfortaa, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
	left: 267px;
}

#buttonu692:hover #u693-7
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 343px;
	margin: 139px -10000px 0px 0px;
}

#buttonu692:active #u693-7
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 343px;
	margin: 139px -10000px 0px 0px;
}

#buttonu692.ButtonSelected #u693-7
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 343px;
	margin: 139px -10000px 0px 0px;
}

#buttonu695
{
	z-index: 43;
	width: 484px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 310px;
	position: relative;
	margin-right: -10000px;
	left: 877px;
}

#buttonu695:hover
{
	background-color: #7F7F7F;
	background-color: rgba(0,0,0,0.5);
	width: 484px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.5);
}

#buttonu695:active
{
	background-color: #000000;
	background-color: rgba(0,0,0,1);
	width: 484px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,1);
}

#buttonu695.ButtonSelected
{
	background-color: transparent;
	width: 484px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u696-11
{
	z-index: 44;
	width: 390px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	font-family: comfortaa, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 310px;
	left: 47px;
}

#buttonu695:hover #u696-11
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 390px;
	margin: 310px -10000px 0px 0px;
}

#buttonu695:active #u696-11
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 390px;
	margin: 310px -10000px 0px 0px;
}

#buttonu695.ButtonSelected #u696-11
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 390px;
	margin: 310px -10000px 0px 0px;
}

#u697-3
{
	z-index: 55;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1069px;
	left: 489px;
}

#buttonu698
{
	z-index: 58;
	width: 1361px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 226px;
	position: relative;
	margin-right: -10000px;
	margin-top: 727px;
}

#buttonu698:hover
{
	background-color: #7F7F7F;
	background-color: rgba(0,0,0,0.5);
	width: 1361px;
	min-height: 0px;
	margin: 727px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.5);
}

#buttonu698:active
{
	background-color: #000000;
	background-color: rgba(0,0,0,1);
	width: 1361px;
	min-height: 0px;
	margin: 727px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,1);
}

#u699-7
{
	z-index: 59;
	width: 390px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	font-family: comfortaa, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 227px;
	left: 486px;
}

#buttonu698:hover #u699-7
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 390px;
	margin: 227px -10000px 0px 0px;
}

#buttonu698:active #u699-7
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 390px;
	margin: 227px -10000px 0px 0px;
}

#buttonu698.ButtonSelected #u699-7
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 390px;
	margin: 227px -10000px 0px 0px;
}

#buttonu700
{
	z-index: 66;
	width: 681px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 152px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1270px;
}

#buttonu700:hover
{
	background-color: #7F7F7F;
	background-color: rgba(0,0,0,0.5);
	width: 681px;
	min-height: 0px;
	margin: 1270px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.5);
}

#buttonu700:active
{
	background-color: #000000;
	background-color: rgba(0,0,0,1);
	width: 681px;
	min-height: 0px;
	margin: 1270px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,1);
}

#u701-7
{
	z-index: 67;
	width: 343px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	font-family: comfortaa, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 170px;
	left: 169px;
}

#buttonu700:hover #u701-7
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 343px;
	margin: 170px -10000px 0px 0px;
}

#buttonu700:active #u701-7
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 343px;
	margin: 170px -10000px 0px 0px;
}

#buttonu700.ButtonSelected #u701-7
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 343px;
	margin: 170px -10000px 0px 0px;
}

#buttonu702
{
	z-index: 74;
	width: 681px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 161px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1270px;
	left: 681px;
}

#buttonu702:hover
{
	background-color: #7F7F7F;
	background-color: rgba(0,0,0,0.5);
	width: 681px;
	min-height: 0px;
	margin: 1270px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.5);
}

#buttonu702:active
{
	background-color: #000000;
	background-color: rgba(0,0,0,1);
	width: 681px;
	min-height: 0px;
	margin: 1270px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,1);
}

#buttonu700.ButtonSelected,#buttonu702.ButtonSelected
{
	background-color: transparent;
	width: 681px;
	min-height: 0px;
	margin: 1270px -10000px 0px 0px;
}

#u703-7
{
	z-index: 75;
	width: 312px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	font-family: comfortaa, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 161px;
	left: 185px;
}

#buttonu702:hover #u703-7
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 312px;
	margin: 161px -10000px 0px 0px;
}

#buttonu702:active #u703-7
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 312px;
	margin: 161px -10000px 0px 0px;
}

#buttonu702.ButtonSelected #u703-7
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 312px;
	margin: 161px -10000px 0px 0px;
}

#buttonu573.ButtonSelected #u574-7 p,#buttonu692.ButtonSelected #u693-7 p,#buttonu695.ButtonSelected #u696-11 p,#buttonu698.ButtonSelected #u699-7 p,#buttonu700.ButtonSelected #u701-7 p,#buttonu702.ButtonSelected #u703-7 p
{
	color: #FBB03B;
	visibility: inherit;
}

#u574-2,#u574-3,#u693-2,#u693-3,#u696-2,#u699-2,#u701-2,#u701-3,#u703-2,#u703-3
{
	font-size: 18px;
	line-height: 22px;
}

#u574-5,#u693-5,#u696-3,#u696-5,#u696-7,#u696-9,#u699-3,#u699-5,#u701-5,#u703-5
{
	font-size: 14px;
}

#u458
{
	z-index: 2;
	width: 1160px;
	padding-bottom: 50px;
	top: 0px;
	left: 50%;
	margin-left: -580px;
}

#u457
{
	z-index: 3;
	min-height: 50px;
	top: 0px;
}

#u491
{
	z-index: 19;
	width: 101px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 1px;
}

#buttonu464
{
	z-index: 14;
	width: 119px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 144px;
}

#buttonu464:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu464:active
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u465-4
{
	z-index: 15;
	width: 119px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 18px;
}

#buttonu464:hover #u465-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 18px -10000px 0px 0px;
}

#buttonu464:active #u465-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 18px -10000px 0px 0px;
}

#buttonu690
{
	z-index: 9;
	width: 119px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 272px;
}

#buttonu464.ButtonSelected,#buttonu690:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu690:active
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu690.ButtonSelected
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u691-4
{
	z-index: 10;
	width: 119px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 18px;
}

#buttonu464.ButtonSelected #u465-4,#buttonu690:hover #u691-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 18px -10000px 0px 0px;
}

#buttonu690:active #u691-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 18px -10000px 0px 0px;
}

#buttonu690.ButtonSelected #u691-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 18px -10000px 0px 0px;
}

#buttonu461
{
	z-index: 4;
	width: 91px;
	padding-bottom: 9px;
	margin-right: -10000px;
	left: 401px;
}

#buttonu461:hover
{
	width: 91px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu461:active
{
	width: 91px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu461.ButtonSelected
{
	width: 91px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u462-4
{
	z-index: 5;
	width: 91px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 18px;
}

#buttonu461:hover #u462-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 91px;
	margin: 18px -10000px 0px 0px;
}

#buttonu461:active #u462-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 91px;
	margin: 18px -10000px 0px 0px;
}

#buttonu461.ButtonSelected #u462-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 91px;
	margin: 18px -10000px 0px 0px;
}

#u457-bw
{
	z-index: 3;
}

#u733-4
{
	z-index: 21;
	width: 467px;
	min-height: 26px;
	margin-bottom: -35px;
	margin-right: -10000px;
	margin-top: 1763px;
	left: 684px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1762px;
}

