#u458
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u457
{
	background: -webkit-gradient(linear, center top, center bottom, from(#333333),color-stop(100%, #222222));
	background: -webkit-linear-gradient(top,#333333 ,#222222 100%);
	background: linear-gradient(to bottom,#333333 ,#222222 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF333333, endColorstr=#FF222222, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF333333', endColorstr='#FF222222', GradientType=0)";
	position: fixed;
}

#u491
{
	background-color: transparent;
	position: relative;
}

#buttonu464
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#buttonu464:hover
{
	background-color: transparent;
}

#buttonu464:active
{
	background-color: transparent;
}

#u465-4
{
	background-color: transparent;
	letter-spacing: 1px;
	color: #AAAAAA;
	font-size: 14px;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu464:hover #u465-4 p
{
	color: #FBB03B;
	visibility: inherit;
}

#buttonu464:active #u465-4 p
{
	color: #FBB03B;
	visibility: inherit;
}

#buttonu461
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#buttonu464.ButtonSelected,#buttonu461:hover
{
	background-color: transparent;
}

#buttonu461:active
{
	background-color: transparent;
}

#buttonu461.ButtonSelected
{
	background-color: transparent;
}

#u462-4
{
	background-color: transparent;
	letter-spacing: 1px;
	color: #AAAAAA;
	font-size: 14px;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu464.ButtonSelected #u465-4 p,#buttonu461:hover #u462-4 p
{
	color: #FBB03B;
	visibility: inherit;
}

#buttonu461:active #u462-4 p
{
	color: #FBB03B;
	visibility: inherit;
}

#buttonu461.ButtonSelected #u462-4 p
{
	color: #FBB03B;
	visibility: inherit;
}

#u733-4
{
	background-color: transparent;
	color: #888888;
	position: relative;
}

